
#exaquest .examcard {
    /*border: 1px solid #ddd;*/
    padding: 10px;
    margin: 10px;
}

#exaquest .examcard table {
    border-collapse: collapse;
}


#exaquest .examcard th,
td {
    width: 150px;
    text-align: center;
    /*border: 1px solid black;*/
    padding: 5px;
}


#exaquest .examcard .btn {
    white-space: nowrap;
}

#exaquest li.assignment_done {
    background: #90EE90;
}

#exaquest ul.popuplist {
    list-style: none;
}


/* ------------------- */
#block_exaquest .examstable {
    width: 100%;
}

#block_exaquest .examstable tr{
    display: grid;
    grid-template-columns: 1fr 7fr;
}



#block_exaquest .examstable .qtype {
    padding: 0.75rem;
}

#block_exaquest .examstable td.changestatus {
    display: flex;
    justify-content: space-between;
}


#block_exaquest .examstable td.changestatus .btn {
    /*margin-bottom: .5rem;*/
    /*margin-right: .5rem;*/
    /*display: block;*/
    /*flex: 1;*/
    margin-right: 10px; /* Adjust as needed */

}

#block_exaquest .examstable td.commentcount {
    text-align: center;
}




