<button type="submit" class="btn btn-primary change-exam-status-button" missingquestionscount="{{missingquestionscount}}"
        value="fachlich_release_exam" quizid={{quizid}} courseid={{courseid}}>{{#str}}fachlich_release_exam, block_exaquest {{/str}}
</button>
