<button type="submit" class="btn btn-primary change-exam-status-button" missingquestionscount="{{missingquestionscount}}"
        value="force_send_exam_to_review" quizid={{quizid}} courseid={{courseid}}>{{#str}}force_send_exam_to_review, block_exaquest{{/str}}
</button>
