<button type="submit" class="btn btn-primary change-exam-status-button"
        value="send_exam_to_review" quizid={{quizid}} courseid={{courseid}}>{{#str}}send_exam_to_review, block_exaquest {{/str}}
</button>
