<div id="exaquest">
    <div class="examcard">
        <p>{{#str}}new_exams, block_exaquest {{/str}}</p>
        <p>Add questions to these exams</p>
        <ul>
            <li>
                <a class="link" href="http://localhost/mod/quiz/view.php?id=4"{{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam01</a>
            </li>
            <li>
                <a class="link" href="http://localhost/mod/quiz/view.php?id=5"{{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam02</a>
            </li>
        </ul>
    </div>

    <div class="examcard">
        <p>{{#str}}created_exams, block_exaquest {{/str}}</p>
        <p>Release these exams</p>
    </div>

    <div class="examcard">
        <p>{{#str}}fachlich_released_exams, block_exaquest {{/str}}</p>
        <p>Create exam technically? Wird es erst hier "wirklich" angelegt in moodle? Oder ist das der erste Schritt?</p>
    </div>

    <div class="examcard">
        <p>{{#str}}active_exams, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams</p>
    </div>

    <div class="examcard">
        <p>{{#str}}active_exams, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams/exams/prüfungen</p>
    </div>

    <div class="examcard">
        <p>{{#str}}finished_exams, block_exaquest {{/str}}</p>
        <p></p>
    </div>

    <div class="examcard">
        <p>{{#str}}exams_grades_released, block_exaquest {{/str}}</p>
        <p></p>
    </div>
</div>
