<div id="exaquest">
    <div class="examcard">
        <p>{{#str}}new_exams, block_exaquest {{/str}}</p>
        <p>Add questions to these exams</p>
        <ul>
            <li>
                <a class="link" href="http://localhost/mod/quiz/view.php?id=4"{{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam01</a>
            </li>
            <li>
                <a class="link" href="http://localhost/mod/quiz/view.php?id=5"{{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam02</a>
            </li>
        </ul>
    </div>
    <form method="post" action="{{action}}">
        <label for="quizname">Quiz Name:</label>
        <input type="text" class="form-control" id="quizname" name="name">
        <input type="submit"
               value="{{#str}} create_new_exam, block_exaquest {{/str}}"
               class="btn btn-primary">
    </form>

    <form method="post" action="{{go_to_exam_questionbank}}">
        <select name="quizid" class="form-select form-select-lg mb-3">
            {{#exams}}
                <option value="{{id}}">{{name}}</option>
            {{/exams}}
        </select>

        <input type="submit" class="btn btn-primary" value="{{#str}}
            add_questions_to_quiz, block_exaquest {{/str}}">
    </form>

    <div class="examcard">
        <p>{{#str}}created_exams, block_exaquest {{/str}}</p>
        <p>Release these exams</p>
    </div>

    <div class="examcard">
        <p>{{#str}}fachlich_released_exams, block_exaquest {{/str}}</p>
        <p>Create exam technically? Wird es erst hier "wirklich" angelegt in moodle? Oder ist das der erste Schritt?</p>
    </div>

    <div class="examcard">
        <p>{{#str}}active_exams, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams</p>
    </div>

    <div class="examcard">
        <p>{{#str}}active_exams, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams/exams/prüfungen</p>
    </div>

    <div class="examcard">
        <p>{{#str}}finished_exams, block_exaquest {{/str}}</p>
        <p></p>
    </div>

    <div class="examcard">
        <p>{{#str}}exams_grades_released, block_exaquest {{/str}}</p>
        <p></p>
    </div>
</div>
