<div id="exaquest">
{{#capabilities}}
    {{#viewnewexamscard}}
        {{#createnewexam}}
                <a href="{{create_exam_link}}" type="submit" class="btn
            btn-secondary"
                   value="">{{#str}}create_new_exam_button, block_exaquest {{/str}}</a>
        {{/createnewexam}}
            <div class="examcard">
                <h4>{{#str}}new_exams, block_exaquest {{/str}}</h4>
                <p>{{#str}}add_questions_to_these_exams, block_exaquest {{/str}}</p>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#new_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>
                            <td>
                                <a href="{{go_to_exam_questionbank}}&quizid={{quizid}}" type="submit" class="btn
                                btn-primary"
                                value="">{{#str}}add_questions_to_quiz, block_exaquest {{/str}}</a>
                            </td>
                            <td>
                                {{>block_exaquest/button_go_to_exam_view}}
                            </td>
                            {{#sendexamtoreview}}
                                <td>
                                    {{>block_exaquest/button_send_exam_to_review}}
                                </td>
                            {{/sendexamtoreview}}
                            {{#forcesendexamtoreview}}
                                <td>
                                    {{>block_exaquest/button_force_send_exam_to_review}}
                                </td>
                            {{/forcesendexamtoreview}}
                            {{#fachlichreleaseexam}}
                                <td>
                                    {{>block_exaquest/button_fachlich_release_exam}}
                                </td>
                            {{/fachlichreleaseexam}}
<!--                            {{#skipandreleaseexam}}-->
<!--                                <td>-->
<!--                                    <button type="submit" class="btn btn-primary change-exam-status-button"-->
<!--                                            value="skipandrelease_exam" quizid={{quizid}} courseid={{courseid}}>Prüfung-->
<!--                                        finalisieren und freigeben-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                            {{/skipandreleaseexam}}-->
                            {{#assignaddquestions}}
                                <td>
                                    {{#popup_assign_addquestions}}
                                        {{>block_exaquest/popup_assign_addquestions}}
                                    {{/popup_assign_addquestions}}
                                </td>
                            {{/assignaddquestions}}
                            {{#setquestioncount}}
                                <td>
                                    {{#popup_setquizquestioncount}}
                                        {{>block_exaquest/popup_setquizquestioncount}}
                                    {{/popup_setquizquestioncount}}
                                </td>
                            {{/setquestioncount}}
                        </tr>
                    {{/new_exams}}
                    </tbody>
                </table>
            </div>
    {{/viewnewexamscard}}
    {{#viewcreatedexamscard}}
            <div class="examcard">
                <h4>{{#str}}created_exams, block_exaquest {{/str}}</h4>
                <p>Diese Prüfungen wurden befüllt. Fachliche Begutachtung notwendig.</p>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#created_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>
                            <td>
                                {{>block_exaquest/button_go_to_exam_view}}
                            </td>
                            <td>
                                {{>block_exaquest/button_fachlich_release_exam}}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary change-exam-status-button"
                                        value="request_revision" quizid={{quizid}} courseid={{courseid}}>Prüfung zur
                                    Überarbeitung
                                    zurückschicken
                                </button>
                            </td>
                        </tr>
                    {{/created_exams}}
                    </tbody>
                </table>
            </div>
    {{/viewcreatedexamscard}}
    {{#viewreleasedexamscard}}
            <div class="examcard">
                <h4>{{#str}}fachlich_released_exams, block_exaquest {{/str}}</h4>
                <p>Diese Prüfungen wurden fachlich begutachtet.</p>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#fachlich_released_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>
                            <td>
                                {{>block_exaquest/button_go_to_exam_view}}
                            </td>
                            {{#doformalreviewexam}}
                                <td>
                                    <button type="submit" class="btn btn-primary change-exam-status-button"
                                            value="formal_release_exam" quizid={{quizid}} courseid={{courseid}}>Zur Durchführung
                                        freigeben
                                    </button>
                                </td>
                            {{/doformalreviewexam}}
                        </tr>
                    {{/fachlich_released_exams}}
                    </tbody>
                </table>
            </div>
    {{/viewreleasedexamscard}}
    {{#viewactiveexamscard}}


            <div class="examcard">
                <h4>{{#str}}active_exams, block_exaquest {{/str}}</h4>
                <p>Fachlich und formal freigegebene Prüfungen. Diese sind aktiv. SuS können diese Prüfung
                    durchführen.</p>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#active_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary change-exam-status-button"
                                        value="finish_exam" quizid={{quizid}} courseid={{courseid}}>Prüfung beenden
                                </button>
                            </td>
                        </tr>
                    {{/active_exams}}
                    </tbody>
                </table>
            </div>
    {{/viewactiveexamscard}}

    {{#viewfinishedexamscard}}
            <div class="examcard">
                <h4>{{#str}}finished_exams, block_exaquest {{/str}}</h4>
                <p>Abgeschlossene Prüfungen.</p>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#finished_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>

                            {{#assigncheckexamgrading}}
                                <td>
                                    {{#popup_assign_check_exam_grading}}
                                        {{>block_exaquest/popup_assign_check_exam_grading}}
                                    {{/popup_assign_check_exam_grading}}
                                </td>
                            {{/assigncheckexamgrading}}
                            {{#assigned_to_check_grading}}
                                <td>
                                    <button type="submit" class="btn btn-primary change-exam-status-button"
                                            value="release_grades" quizid={{quizid}} courseid={{courseid}}>Prüfungsbeurteilung freigeben
                                    </button>
                                </td>
                                {{#go_to_exam_report_overview}}
                                    <td>
                                        {{>block_exaquest/button_go_to_exam_report_overview}}
                                    </td>
                                {{/go_to_exam_report_overview}}
                                {{#go_to_exam_report_grading}}
                                    <td>
                                        {{>block_exaquest/button_go_to_exam_report_grading}}
                                    </td>
                                {{/go_to_exam_report_grading}}
                                <td>
                                    {{#popup_assign_change_exam_grading}}
                                        {{>block_exaquest/popup_assign_change_exam_grading}}
                                    {{/popup_assign_change_exam_grading}}
                                </td>
                                <td>
                                    {{#popup_assign_check_exam_grading}}
                                        {{>block_exaquest/popup_assign_check_exam_grading}}
                                    {{/popup_assign_check_exam_grading}}
                                </td>
                            {{/assigned_to_check_grading}}


                            {{#assigngradeexam}}
                                <td>
                                    {{#popup_assign_gradeexam}}
                                        {{>block_exaquest/popup_assign_gradeexam}}
                                    {{/popup_assign_gradeexam}}
                                </td>
                            {{/assigngradeexam}}
                            {{#assigned_to_grade}}
                                <!-- there is no mark_grade_request_as_done button yet, but the ability to add other persons for grading depends on being assigned to grade-->
                                <!--                                TODO: add mark_grade_request_as_done button ??-->
                                <!--  Similiar to the button with value "release_grades" here we have "grading finished" ? Would be a possibility, but for now no, because marking the grading as done does not make a lot of sense, it is shown in moodle when everything is graded anyways-->

                                {{#go_to_exam_report_grading}}
                                    <td>
                                        {{>block_exaquest/button_go_to_exam_report_grading}}
                                    </td>
                                {{/go_to_exam_report_grading}}
                                <td>
                                    {{#popup_assign_gradeexam}}
                                        {{>block_exaquest/popup_assign_gradeexam}}
                                    {{/popup_assign_gradeexam}}
                                </td>
                            {{/assigned_to_grade}}
                        </tr>
                    {{/finished_exams}}
                    </tbody>
                </table>
            </div>
    {{/viewfinishedexamscard}}

    {{#viewgradesreleasedexamscard}}
            <div class="examcard">
                <h4>{{#str}}exams_grades_released, block_exaquest {{/str}}</h4>
                <table>
                    <thead></thead>
                    <tbody>
                    {{#grading_released_exams}}
                        <tr>
                            <td>
                                <a class="link"
                                   href={{link_to_exam}}
                                >
                                    {{name}} </a>
                            </td>
                            <!--                    <td>-->
                            <!--                        <button type="submit" class="btn btn-primary change-exam-status-button"-->
                            <!--                                value="release_grades" quizid={{quizid}}>Noten freigeben-->
                            <!--                        </button>-->
                            <!--                    </td>-->
                        </tr>
                    {{/grading_released_exams}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/viewgradesreleasedexamscard}}
{{/capabilities}}

