<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/ -->

<button class="btn btn-primary w-100" data-toggle="modal" data-target="#createQuestionModal">
    {{#str}}set_quizquestioncount, block_exaquest {{/str}}
    <!--    <i class="icon fa fa-plus fa-fw "></i>-->
</button>
<div class="modal fade" id="createQuestionModal" tabindex="-1"
     aria-labelledby="createQuestionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#str}}
                    set_quizquestioncount, block_exaquest {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{action}}" id="requestquestionsform">
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>Fragefach</th>
                            <th>Anzahl der benötigten Fragen</th>
                        </tr>
                        {{#fragefaecher}}
                            <tr>
                                <td>{{name}} </td>
                                <td><input type="number" name="{{id}}"></td>
                            </tr>
                        {{/fragefaecher}}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit"
                           value="{{#str}} request_questions_button, block_exaquest {{/str}}"
                           class="btn btn-primary requestquestionssubmit">
                </div>
            </form>
        </div>
    </div>
</div>

