<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/ -->

<a class="btn btn-light w-100 d-flex justify-content-between align-items-center" data-toggle="modal"
   data-target="#examsForMeToGradeModal">
    <span class="badge-outer text-center">
        <span class="badge  tododoscounter {{#exams_for_me_to_grade_count}}badge-primary{{/exams_for_me_to_grade_count}}">
            {{exams_for_me_to_grade_count}}
        </span>
    </span>
    <span class="flex-grow-1">
        {{#str}}exams_for_me_to_grade, block_exaquest {{/str}}
    </span>
</a>

<div class="modal fade" id="examsForMeToGradeModal" tabindex="-1"
     aria-labelledby="examsForMeToGradeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{#str}}exams_for_me_to_grade_title, block_exaquest {{/str}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="popup_grade_exams_div"></div>
                <ul class="list-group list-todo-request-quest" id="grade-request">
                    {{#exams}}
                        <li class="list-group-item d-flex justify-content-between align-items-start grade-request-comment"
                            id="grade-request-comment-li-{{id}}">
                            <span class="flex-grow-1">{{name}}: {{comment}}</span>
                            <button id="grade-request-comment-button-{{id}}"
                                    class="mark-grade-request-as-done-button btn btn-light btn-sm ml-2"
                                    requestid= {{id}}
                                            courseid={{courseid}}>
                                <i class="icon fa fa-times fa-fw mr-1"></i> Done
                            </button>
                        </li>
                    {{/exams}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

