<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/ -->
<!--<button class="btn btn-secondary" data-toggle="modal" data-target="#createQuestionModal">-->
<!--    {{#str}}request_questions, block_exaquest {{/str}}-->
<!--&lt;!&ndash;    <i class="icon fa fa-plus fa-fw "></i>&ndash;&gt;-->
<!--</button>-->

<a class="btn btn-light w-100 d-flex justify-content-between align-items-center" data-toggle="modal"
   data-target="#questionsForMeToCreateModal">
    <span class="badge-outer text-center">
        <span id="question-todoscounter" class="badge tododoscounter {{#questions_for_me_to_create_count}}badge-primary{{/questions_for_me_to_create_count}}">{{questions_for_me_to_create_count}}</span>
    </span>
    <span class="flex-grow-1"> {{#str}}
        questions_for_me_to_create, block_exaquest {{/str}}</span>
</a>

<div class="modal fade" id="questionsForMeToCreateModal" tabindex="-1"
     aria-labelledby="questionsForMeToCreateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#str}}
                    questions_for_me_to_create_title, block_exaquest {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="popup_create_questions_div"></div>
                </p>

                <p>{{#str}}
                    questions_for_me_to_create, block_exaquest {{/str}}
                    <br>
                <ul class="list-group list-todo-request-quest" id="requests">
                    {{#questions_to_create}}
                        <li class="list-group-item d-flex justify-content-between align-items-start request-comment"
                            id="request-comment-li-{{id}}">
                            <span class="flex-grow-1">{{comment}}</span>
                            <button id="request-comment-button-{{id}}"
                                    class="mark-question-request-as-done-button btn btn-light btn-sm ml-2"
                                    requestid= {{id}}
                                    courseid={{courseid}}>
                                <i class="icon fa fa-times fa-fw mr-1"></i> {{#str}}done, block_exaquest {{/str}}
                            </button>
                            <!--                            <a id="request-comment-a-{{id}}" class="mark-question-request-as-done-button"
                               href="#"
                               title="{{#str}} mark_as_done, block_exaquest {{/str}}"
                               courseid={{courseid}}
                               requestid= {{id}}
                                       role="button"
                               aria-label="{{#str}} mark_as_done, block_exaquest {{/str}}">
                                <button class="btn btn-light btn-sm ml-2"><i class="icon fa fa-times fa-fw mr-1"></i> Erledigt</button>
                            </a>-->
                        </li>
                    {{/questions_to_create}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--                <input type="submit"-->
                <!--                       value="{{#str}} mark_selected_as_done_button, block_exaquest {{/str}}"-->
                <!--                       class="btn btn-primary mark-all-requests-as-done-button">-->
            </div>
        </div>
    </div>
</div>
