<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/ -->

<a class="btn btn-light w-100 d-flex justify-content-between align-items-center" data-toggle="modal"
   data-target="#examsForMeToCheckGradingModal">
    <span class="badge-outer text-center">
        <span id="check-grading-todoscounter"  class="badge  tododoscounter {{#exams_for_me_to_check_grading_count}}badge-primary{{/exams_for_me_to_check_grading_count}}">{{exams_for_me_to_check_grading_count}}</span>
    </span>
    <span class="flex-grow-1"> {{#str}}
        exams_for_me_to_check_grading, block_exaquest {{/str}}</span>
</a>

<div class="modal fade" id="examsForMeToCheckGradingModal" tabindex="-1"
     aria-labelledby="examsForMeToCheckGradingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#str}}
                    exams_for_me_to_check_grading_title, block_exaquest {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="popup_check_grading_exams_div"></div>
                <ul class="list-group list-todo-request-quest" id="check-grading-requests">
                    {{#exams}}
                        <li class="list-group-item d-flex justify-content-between align-items-start check-grading-request-comment"
                            id="check-grading-request-comment-li-{{id}}">
                            <span class="flex-grow-1">{{name}}: {{comment}} <a href="{{linktograding}}"> ... Beurteilung überprüfen</a></span>
                            <button id="check-grading-request-comment-button-{{id}}"
                                    class="mark-check-grading-request-as-done-button btn btn-light btn-sm ml-2"
                                    requestid= {{id}}
                                    courseid={{courseid}}>
                                <i class="icon fa fa-times fa-fw mr-1"></i> Erledigt
                            </button>
                        </li>
                    {{/exams}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
