<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/ -->

<button class="btn btn-secondary w-100" data-toggle="modal" data-target="#assignGradeExamModal{{quizid}}">
    {{#str}}assign_gradeexam, block_exaquest {{/str}}
    <!--    <i class="icon fa fa-plus fa-fw "></i>-->
</button>
<div class="modal fade" id="assignGradeExamModal{{quizid}}" tabindex="-1"
     aria-labelledby="assignGradeExamModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#str}}assign_gradeexam, block_exaquest {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{action}}" id="assign_grade_exam_form{{quizid}}">
                <input type="hidden" id="quizid" name="quizid" value={{quizid}}>
                <div class="modal-body">
                    <!--                list of already assigned persons -->
                    <list>
                        <ul class="list-group popuplist">
                            {{#str}}already_requested_from, block_exaquest {{/str}}
                            {{#assigned_persons}}
                                <li {{#done}} class="assignment_done" {{/done}}>{{firstname}} {{lastname}}{{#done}}: {{#str}}already_done, block_exaquest {{/str}} {{/done}}</li>
                            {{/assigned_persons}}
                        </ul>
                    </list>
                    <p></p>
                    <div class="form-group">{{#str}}
                        assign_gradeexam_label, block_exaquest {{/str}}
                        {{{ bmw_autocomplete_html }}}
                    </div>

                    <div class="form-group">{{#str}}
                        select_questions_label, block_exaquest {{/str}}
                        {{{ questions_autocomplete_html }}}
                    </div>

                    <div class="form-group">
                        <textarea class="form-control assign_grade_exam_comment" name="assign_grade_exam_comment" id="assign_grade_exam_comment"
                                  rows="3"
                                  placeholder="{{#str}}assign_gradeexam_comment_placeholder, block_exaquest {{/str}}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit"
                           value="{{#str}} request_questions_button, block_exaquest {{/str}}"
                           class="btn btn-primary assign_grade_exam_submit">
                </div>
            </form>
        </div>
    </div>
</div>


<!--<div class="form-group">-->
<!--    <label for="question_select">Fragen auswählen:</label>-->
<!--    <select class="form-control" name="question_select" id="question_select" multiple>-->
<!--        #significant_questions}}-->
<!--            <option value="id}}">questionname}}</option>-->
<!--        /significant_questions}}-->
<!--    </select>-->
<!--</div>-->
