<div id="exaquest">
    <div class="quizzescard">
        <p>{{#str}}new_quizzes, block_exaquest {{/str}}</p>
        <p>Add questions to these quizzes</p>
        <ul>
            <li>
                <a class="link" href={{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam01</a>
            </li>
            <li>
                <a class="link" href={{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam02</a>
            </li>
            <li>
                <a class="link" href={{questions_for_me_to_review_link}}> {{questions_for_me_to_review_count}}
                    exam03</a>
            </li>
        </ul>
    </div>

    <div class="quizzescard">
        <p>{{#str}}created_quizzes, block_exaquest {{/str}}</p>
        <p>Release these quizzes</p>
    </div>

    <div class="quizzescard">
        <p>{{#str}}fachlich_released_quizzes, block_exaquest {{/str}}</p>
        <p>Create quiz technically? Wird es erst hier "wirklich" angelegt in moodle? Oder ist das der erste Schritt?</p>
    </div>

    <div class="quizzescard">
        <p>{{#str}}active_quizzes, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams</p>
    </div>

    <div class="quizzescard">
        <p>{{#str}}active_quizzes, block_exaquest {{/str}}</p>
        <p>these are active, students can take these exams/quizzes/prüfungen</p>
    </div>

    <div class="quizzescard">
        <p>{{#str}}finished_quizzes, block_exaquest {{/str}}</p>
        <p></p>
    </div>

    <div class="quizzescard">
        <p>{{#str}}quizzes_grades_released, block_exaquest {{/str}}</p>
        <p></p>
    </div>
</div>
